.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
  width: 80%;
  margin: 40px auto;
  top: 20px;
}
.button-flow {
  float: right;
}

.table-header {
  border: none;
  border-bottom: solid aqua;
  border-radius: 0;
}

.table-header-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 5px auto;
  padding: 7px;
}

.table-header-cell {
  margin: auto;
  text-align: center;
  max-width: 200px;
  padding: 4px 6px;
}
.table-header-cell:hover{
  border-radius: 12px;
  cursor: pointer;
  background-color: #19407a;
}

.member-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  border: solid white 2px;
  margin: 5px auto;
  border-radius: 12px;
  padding: 7px;
}
.member-item:hover { background-color: darkgray;}

.member-cell {
  margin: auto;
  text-align: center;
  max-width: 200px;
}
.member-row {
  display: flex;
  flex-direction: row;
}

.inputBox {
  padding: 1px;
  border-radius: 12px;
  text-align: center;
  height: 40px;
  margin-top: 7px;
  margin-bottom: 5px;
  font-size: 1.1em;
}

.add-member {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-msg {
  color: darkred;
  font-size: 1.1em;
}

@media screen and (max-width: 1000px) {
  .member-item {
    border: none;
  }
}
